@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/Roboto.woff2') format('woff2'),
    url('../fonts/roboto/Roboto.woff') format('woff'),
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PTRootUIWebBold';
    src:
            url('../fonts/PTRootUI/PT-Root-UI_Bold.woff2') format('woff2'),
            url('../fonts/PTRootUI/PT-Root-UI_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTRootUIWebMedium';
    src:
            url('../fonts/PTRootUI/PT-Root-UI_Medium.woff2') format('woff2'),
            url('../fonts/PTRootUI/PT-Root-UI_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTRootUIWebRegular';
    src:
            url('../fonts/PTRootUI/PT-Root-UI_Regular.woff2') format('woff2'),
            url('../fonts/PTRootUI/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}